<footer class="site-footer footer-theme-two">
	<div class="container">
		<div class="main-footer style-dark">
			<div class="row">
				<div class="col-lg-4">
					<div class="widget">
						<div class="text-widget">
							<div class="about-info">
								<div class="image-wrapper">
									<img src="/assets/dcode/images/erpuse-logo-white.png" alt="" />
								</div>

								<p>Erpuse is a suite of business apps that cover all your company needs: CRM, eCommerce, accounting, inventory, point of sale, project management, etc.</p>
									<p>
								Erpuse's unique value proposition is to be at the same time very easy to use and fully integrated.</p>

							</div>
							<div class="playstore-widget">
								<h3>Download the App</h3>
								<ul>
									<li class="google"><a href="https://play.google.com/store/apps/dev?id=6399848638995729224">Google Play</a></li>
									<li class="apple"><a href="#">App Store</a></li>
								</ul>
							</div>
						</div>
					</div><!-- End Widget -->
				</div><!-- End Col -->
				<div class="col-lg-2">
					<div class="widget">
						<div class="widget-title">
							<h3 class="title">Useful Links</h3>
						</div>
						<div class="text-widget">
							<div class="footer-nav">
								<ul>
									<li><a href="/trust_safety">Trust & Safety</a></li>
									<li><a href="/cookie_policy">Cookie Policy</a></li>
									<li><a href="/contact_us">Contact Us</a></li>
									<li><a href="/privacy_policy">Privacy Policy</a></li>
									<li><a href="/terms_of_service">Terms of Service</a></li>
								</ul>
							</div>
						</div>
					</div><!-- End Widget -->
				</div><!-- End Col -->
				<div class="col-lg-2">
					<div class="widget">
						<div class="widget-title">
							<h3 class="title">Support</h3>
						</div>
						<div class="text-widget">
							<div class="footer-nav">
								<ul>
									<li><a href="/documentation">Documentation</a></li>
									<li><a href="/faq">FAQ</a></li>
									<li><a href="/tutorial">Tutorial</a></li>
									<li><a href="/community">Community</a></li>
								</ul>
							</div>
						</div>
					</div><!-- End Widget -->
				</div><!-- End Col -->
				<div class="col-lg-4">
					<div class="widget">
						<div class="widget-title">
							<h3 class="title">Stay Updated</h3>
						</div>
						<div class="text-widget">
							<div class="contact-info">
								<ul>
									<li class="email-field">info@erpuse.com</li>
									<li class="phone-field">+968 777 4 888 77</li>
									<li class="address-field">Al Baraka,South Al Batina,Muscat,Sultate of Oman</li>
								</ul>
							</div>
							<div class="social-media-links">
								<ul>
									<li><a target="_blank" href="https://www.facebook.com/erpuse/"><i class="fab fa-facebook-f"></i></a></li>
									<li><a target="_blank" href="https://www.linkedin.com/company/erpuse/"><i class="fab fa-linkedin-in"></i></a></li>
									<li><a target="_blank" href="https://twitter.com/erpuse"><i class="fab fa-twitter"></i></a></li>
									<li><a target="_blank" href="https://www.instagram.com/erpuse_com"><i class="fab fa-instagram"></i></a></li>
									<li><a target="_blank" href="https://youtube.com/erpuse"><i class="fab fa-youtube"></i></a></li>
								</ul>
							</div>
						</div>
					</div><!-- End Widget -->
				</div><!-- End Col -->
			</div><!-- End Row -->
		</div>
		{% include "templates/includes/footer/footer_info.html" %}
	</div>
</footer>
