<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{{ title | striptags }}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

		{% block meta_block %}
		{% include "templates/includes/meta_block.html" %}
	{% endblock %}


        <!-- favicon -->
		{% block favicon %}
		<link
			rel="shortcut icon"
			href="{{ (favicon or "/assets/frappe/images/frappe-favicon.svg") | abs_url }}"
			type="image/x-icon"
		>
		{% endblock %}
	{%- block head -%}
		{% if head_html is defined -%}
		{{ head_html or "" }}
		{%- endif %}

		{%- if theme.name != 'Standard' -%}
		<link type="text/css" rel="stylesheet" href="{{ theme.theme_url }}">
		{%- else -%}
		{{ include_style('website.bundle.css') }}
		{%- endif -%}

		{%- for link in web_include_css %}
		{{ include_style(link) }}
		{%- endfor -%}
	{%- endblock -%}

	{%- block head_include %}
		{{ head_include or "" }}
	{% endblock -%}

	{%- block style %}
		{% if colocated_css -%}
			<style>{{ colocated_css }}</style>
		{%- endif %}
	{%- endblock -%}

	<script>
		window.frappe = {};
		frappe.ready_events = [];
		frappe.ready = function(fn) {
			frappe.ready_events.push(fn);
		}
		window.dev_server = {{ dev_server }};
		window.socketio_port = {{ (frappe.socketio_port or 'null') }};
		window.show_language_picker = {{ show_language_picker or 'false' }};
	</script>

        <!-- WOW Animation -->
        <link href="/assets/dcode/css/animate.css" rel="stylesheet" type="text/css"  />
        <!-- Bootstrap css -->
        <link href="/assets/dcode/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- Slick Slider -->
        <link href="/assets/dcode/css/slick.css" rel="stylesheet" type="text/css"  />
        <!-- Icons -->
        <link href="/assets/dcode/css/materialdesignicons.min.css" rel="stylesheet" type="text/css" />
        <link href="/assets/dcode/css/line-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="/assets/dcode/css/fontawesome.min.css" rel="stylesheet" type="text/css" />
        <!-- Main css File -->
        <link href="/assets/dcode/css/style.css" rel="stylesheet" type="text/css" id="theme-default" />
        <link href="/assets/dcode/css/rtl-style.css" rel="stylesheet" type="text/css" id="rtl-theme-default" disabled="disabled" />
        <link href="/assets/dcode/css/colors/default-color.css" rel="stylesheet" type="text/css" id="theme-color" />
    </head>
    <body frappe-session-status="{{ 'logged-in' if frappe.session.user != 'Guest' else 'logged-out'}}" data-path="{{ path | e }}" {%- if template and template.endswith('.md') %} frappe-content-type="markdown" {%- endif %} class="{{ body_class or ''}}">
        <!-- box-wrapper --> 
        <div class="box-wrapper">
            <!-- Loader -->
            <div id="preloader">
                <div id="status">
                    <div class="d-loader">
                        <img src="/assets/dcode/images/erpuse.gif" alt="DCode">
                    </div>
                </div>
            </div>
            <!-- Loader -->
            <!-- Nav Bar -->
            {% include "dcode/templates/includes/navbar/navbar.html" %}


                    {% block content %}
                    {{ content }}
                    {% endblock %}
              



        </div>

        {%- block footer -%}
        {{ web_block(
            footer_template or 'Standard Footer',
            values=_context_dict,
            add_container=0,
            add_top_padding=0,
            add_bottom_padding=0
        ) }}
    {%- endblock -%}
  


        <!-- box-wrapper -->
        <div class="overlay overlay-search">
            <div class="close-search">
                <span class="lines"></span>
            </div>
            <div class="container">
                <form method="post">
                    <div class="form-group">
                        <input type="search" class="form-control" name="SearchInput" placeholder="Search…">
                        <button type="submit" class="search-submit"><i class="fa fa-search"></i></button>
                    </div>
                </form>
            </div>
        </div>
        <!--search-form-->

        <!-- javascript -->
        <script src="/assets/dcode/js/jquery.min.js"></script>
        <script src="/assets/dcode/js/jquery-migrate.min.js"></script>
        <script src="/assets/dcode/js/bootstrap.bundle.min.js"></script>
        <script src="/assets/dcode/js/jquery.easing.min.js"></script>
        <script src="/assets/dcode/js/scrollspy.min.js"></script>
        <script src="/assets/dcode/js/appear.js"></script>
        <!-- WOW Animation -->
        <script src="/assets/dcode/js/wow.min.js"></script>
        <!-- Slick Slider -->
        <script src="/assets/dcode/js/slick.min.js"></script>
        <!-- Main Js -->
        <script src="/assets/dcode/js/dcode.js"></script>


        {% block base_scripts %}
        <!-- js should be loaded in body! -->
        <script>
            frappe.boot = {{ boot }}
            // for backward compatibility of some libs
            frappe.sys_defaults = frappe.boot.sysdefaults;
        </script>
        {{ include_script('frappe-web.bundle.js') }}
        {% endblock %}
        
        {%- for link in web_include_js %}
        {{ include_script(link) }}
        {%- endfor -%}
        {%- block script %}
        {% if colocated_js -%}
            <script>{{ colocated_js }}</script>
        {%- endif %}
        {%- endblock %}



        {%- block body_include %}{{ body_include or "" }}{% endblock -%}
    </body>
</html>